<!DOCTYPE html>
<html lang="es">
    <head>
      <meta charset="utf-8">
      <title>Toys</title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
    	<style type="text/css">

    	body{         
           background-image:url(../images/galaxie.jpg);
           font-size: 30px;
           font-weight: bold;
           margin: 10% 20% 10% 20%;
           background-attachment: fixed;
         }
      h2{color: #000;
      }             	   
    	   #title
    	   {color: #000; 
    	   	font-family: dark comic;
    	    font-size: 100px;}
    </style>
</head>
<body>
  <div style="margin: 0 20% 10% 20%;">
</div>
	<span id="title">Peluches y figuras de acción</span>
  <div style="text-align:center;">
    <img src="https://media.game.es/COVERV2/3D_L/120/120324.png" width="40%">
    <img src="https://c1-ebgames.eb-cdn.com.au/merchandising/images/packshots/8667cce67ff64a599a0ed529a7a7603e_Medium.png" width="40%">
          </div>
	<h2>
		<p>
  Diseñamos, personalizamos y comercializamos peluches y figuras de acción, de los diferentes personajes de mario.
  También los combinamos con diferentes caricaturas y videojuegos.
 </p>
</h2>
<div id="foot">
  <a href="../index.html">
    <div id="myimg"><img src="../images/fle.png"></div></a>   
</div>
</body>
</html>