<!DOCTYPE html>
<html lang="es">
    <head>
      <meta charset="utf-8">
      <title>Misión</title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
    	<style type="text/css">

    	body{         
           background-color: #D8D8D8;
           background-image:url('../images/galaxie.jpg');
           font-size: 20px;
           font-weight: bold;
           text-align: center;
           margin: 10% 20% 10% 20%;
           color: #000;
           background-attachment: fixed;}
             	   
    	   .title
    	   {color: #000; 
    	   	font-family: dark comic;
    	    font-size: 80px}
    </style>
</head>
<body>
	<span class="title">Misión</span>
	<h2>	<p>
Somos una empresa líder en el mercado, orientada a ofrecer la mejor calidad y variedad en productos y servicios de venta, brindándole a nuestros clientes las mejores opciones de compra, contando con los establecimientos que poseen el mejor ambiente comodidad y seguridad, obteniendo de esta manera su confianza y lealtad; ofreciendo a las ciudades en las que tenemos presencia un estilo único de atención y calidad de vida a sus pobladores.</p></h2>
  
 
  <span class="title">Visión</span>
 
    <h2><p>
Ser la cadena de tiendas por departamentos en la región centroamericana que ofrezca la mejor calidad y variedad en servicios de venta y productos a sus clientes, generar un valor agregado a las ciudades a las que lleguemos y contribuir al desarrollo de nuestros colaboradores y accionistas, fortaleciendo nuestra solidez por medio de la planeación y el trabajo en equipo.</p></h2>


<div id="foot">
  <a href="../index.html">
    <div id="myimg"><img src="../images/fle.png"></div></a>   
</div>

</body>
</html>