<!DOCTYPE html>
<html lang="es">
    <head>
      <meta charset="utf-8">
      <title>Servicios</title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
    	<style type="text/css">

    	body{         
           background-color: #D8D8D8;
           background-image:url(../images/galaxie.jpg);
           font-size: 30px;
           font-weight: bold;
           margin: 10% 20% 10% 20%;
         
           opacity: 70%;
           color: #000;
           background-attachment: fixed;
           text-align:center;
           }
             	   
    	   #title
    	   {color: #000; 
    	   	font-family: dark comic;
    	    font-size: 80px;
        }
    </style>
</head>
<body>
	<span id="title">Servicios</span>
	<h2>
		<p>
Ofrecemos:</p>
<p> Diseño y personalización de prendas, estampados,customización de elementos, amplia línea de juguetería y figuras de acción. Todo en bisutería.</p>
</h2>
<div id="foot">
  <a href="../index.html">
    <div id="myimg"><img src="../images/fle.png"></div></a>   
</div>
</body>
</html>