<!DOCTYPE html>
<html lang="es">
    <head>
      <meta charset="utf-8">
      <title>Visión</title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
    	<style type="text/css">


    	body{         
           background-color: #D8D8D8;
           background-image:url('http://www.lold.org/uploads/2012/01/bobomb-wallpaper.jpg');
           font-size: 20px;font-size: 20px;font-weight: bold;margin: 10% 20% 10% 20%;color: #454545;
           background-attachment: fixed;}
             	   
    	   #title
    	   {color: #FA8072; 
    	   	font-family: algerian, arial, dark comic;
    	    font-size: 40px}
    </style>
</head>
<body>
	<span id="title">Visión</span>
	<h2>
		<p>
Ser la cadena de tiendas por departamentos en la región centroamericana que ofrezca la mejor calidad y variedad en servicios de venta y productos a sus clientes, generar un valor agregado a las ciudades a las que lleguemos y contribuir al desarrollo de nuestros colaboradores y accionistas, fortaleciendo nuestra solidez por medio de la planeación y el trabajo en equipo.</p>
</h2>
</body>
</html>